@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #FFF8E7;
  --foreground: #171717;
}

html, body {
  font-family: 'Quicksand', sans-serif;
  background: #FFF8E7;
}
